@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}
body {
    background-color: #f8f9fa;
}
h2{
    text-align: center;
}
a { cursor: pointer; text-decoration: none;}
a:hover{
    color: #9e9d9d;
    transition-duration: 0.3s;
}
li{
    transform: translate(10px, 0px);
    font-weight: 200;
}
.active{
    border: 1px solid #f0f0f0;
}